body{
    background-color:#DCDCDC;
}

#header{
    background-color:#00BFFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 10px;
}
h1{
    font-family: verdana,sans-serif;
    font-size: 32px;
    text-align:center;
}
#header li{
    display:inline;
    margin-top: -100px;
    
}
#header li a{
    color:#FFFFFF;
    font-weight:bold;
    text-decoration: none;
    padding: 5px;
    border: 3px solid #000000;
}
#header img{
    display:inline;
    height: 30px;
    width: 30px;
}
#img1{
    margin-left: 50em;

}

#img2{
    margin-left:10px;
}
#img3{
    margin-left:10px;
}
#img4{
    margin-left:10px;
}
#left{
    float:left;
    width:25%;
}

#left ul{
margin-top: 4em;
margin-left: 0.2em;
padding: 0;
width:250px;
list-style-type: none;    
}

#left ul li a {
text-decoration: none;
color: white;
padding: 10.5px 11px;
/*background-color: #005555;*/
display:block;
}

ul li a:hover{
color: white;
background-color: #000080;
}


#left li{
    display:block;
    color:#FFFFFF;
    border: 3px solid #000000; 
}
#right{
    float:right;
    width:75%;
}
h2{
    font-family:georgia,sans-serif;
    font-size: 24px;
    text-align:left;
    margin-top: 0.7em;
}
#date{
    text-align:right;
    margin-top: -45px;
    margin-right: 20px;
}

#content {
    margin: 10px;
    border: 2px solid #778899;;
    white-space: pre-line;
    background-color:#FFFFFF;
    margin-left: -5px;
}

#right input{
    padding-bottom: 10px;
    border:2px solid #778899;
    margin-left: -5px;
}

#footer{
    background-color:#00BFFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    clear: both;
    padding: 10px;
    position: relative;
    bottom: -20px;
    text-align: right;
}