body{
	background-color: #778899;
}

h1{
	font-family: verdana,sans-serif;
	text-align: left;
	position: relative;
	left: 20px;
}

h1 a:hover, a:visited{
	text-decoration: none;
}

.nav-pills{
	position: relative;
	left:-120px;
	font-size: 20px;
}

.nav .nav-pills > li > a {
	color: #000080;
}

/*.pull-right img{
	height: 3em;
    width: 3em;
    position: relative;
    right: -20px;
}*/

.jumbotron{
	background-color: #DCDCDC;
	margin-bottom: 10px;
	padding-bottom:10px;
}

.jumbotron .title{
	font-size: 23px;
	color: #1E90FF;
/*	font-family: verdana;*/
	border-bottom: 4px double white;
	padding-bottom: 5px;
}

.text > p{
	font-size:15px;
}

.text >h3{
	color:#000080;
}

.footer img{
	height: 3em;
    width: 3em;
    position: relative;
    left: 100px;
}

.footer .container .row .col-md-8{
	position: relative;
	left: -100px;
}


.first {
	float:left;
	margin-right:10px;
	margin-top: 15px;
	color: #000080;
}

.second {
	float:left;
} 


#custom{
	position: relative;
	left:90px;
}

#custom2{
	position: relative;
	left:20px;
}

.footer{
	padding-top: 10px;
	padding-bottom: 10px;
}


/*.footer{
	font-size: 20px;
    text-align: right;
    text-decoration: underline;
    right:30px;
    position: relative;
}*/